/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    background-color: black;
    color: aliceblue;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    max-width: 900px;
    border: 1px solid black;
    margin: auto;
    font-size: 2em;
    margin-block-start: 3em;
    position: relative;
}

.wrapper .inner-span i:nth-child(1) {
    position: absolute;
    color: rgb(238, 6, 6);
    right: 196px;
    bottom: 165px;
    animation-name: frasiInMovimento;
    animation-delay: 5s;
    animation-duration: 2s;
    opacity: 0;
    /* animation-iteration-count: infinite; */
}
.wrapper .inner-span i:nth-child(2) {
    position: absolute;
    color: rgb(208, 230, 11);
    right: 210px;
    bottom: 165px;
    animation-name: frasiInMovimento;
    animation-delay: 3s;
    animation-duration: 2s;
    opacity: 0;
    /* animation-iteration-count: infinite; */
}
.wrapper .inner-span i:nth-child(3) {
    position: absolute;
    color: rgb(8, 216, 216);
    right: 64px;
    bottom: 165px;
    animation-name: frasiInMovimento;
    animation-delay: 1s;
    animation-duration: 2s;
    opacity: 0;
    /* animation-iteration-count: infinite; */
}

@keyframes frasiInMovimento {
    0% {
        opacity: 0;
    }

    50% {
        bottom: 134px;
        opacity: 1;
    }

    90% {
        bottom: 85px;
        opacity: 0;
    }
}
