body {
    background-image: url("./img/cork.jpg");
    background-position: center;
    background-size: cover;
    font-family: "Indie Flower";
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    gap: 50px;
    height: 700px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

h3 {
    font-size: 3em;
    margin-block-end: 1rem;
    font-weight: bold;
}
p {
    font-size: 1.2em;
}

.post-it {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 250px;
    z-index: 1;
    box-shadow: 3px 3px 9px black;
    animation-name: appiccicati;
    animation-duration: 800ms;
    animation-delay: none; /* animation delay è inserito nell 'id dei singoli post sono il nome #one #two #three ecc ecc  */
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: unset;
    animation-direction: normal;
    animation-play-state: unset;
    animation-fill-mode: backwards; /* che proprietà visive mantiene l'oggetto dopo l'animazione */
    /* animation-range: 100px; */
    /* animation-delay: 0;
    animation-direction: normal;
    animation-fill-mode: both;
    /* animation-iteration-count: 0; quante volte ripetere l animazione */
    /* animation-timing-function: cubic-bezier(
        0.68,
        -1.12,
        0.93,
        0.49
    ); in che modo l'animazione deve scorrere guarda https://cubic-bezier.com/#.57,-0.42,.84,1.28 */
    transition: all 300ms;
}

.post-it:hover {
    transition: all 300ms;
    transform: scale(1.8); /* oppure posso scrivere scale : 1.8*/
    /* background-color: blanchedalmond; */
    rotate: 360deg;
    z-index: 2;
    box-shadow: 15px 15px 15px black;
}

#one {
    animation-name: post-It-Ruotati-a10deg;
    animation-delay: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(31, 81, 227, 1) 0%,
        rgba(65, 214, 130, 1) 0%,
        rgba(250, 251, 201, 1) 0%,
        rgba(240, 241, 194, 1) 50%,
        rgba(139, 139, 129, 1) 97%
    );
}
#two {
    animation-name: post-It-Ruotati-a10deg;
    animation-delay: 50ms;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(31, 81, 227, 1) 0%,
        rgba(65, 214, 130, 1) 0%,
        rgba(201, 251, 232, 1) 0%,
        rgba(194, 241, 214, 1) 50%,
        rgba(139, 139, 129, 1) 97%
    );
}
#three {
    animation-name: post-It-Ruotati-a10deg;
    animation-delay: 100ms;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(31, 81, 227, 1) 0%,
        rgba(65, 214, 130, 1) 0%,
        rgba(251, 201, 234, 1) 0%,
        rgba(241, 194, 230, 1) 50%,
        rgba(139, 139, 129, 1) 97%
    );
}
#four {
    animation-name: post-It-Ruotati-a10deg;
    animation-delay: 150ms;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(31, 81, 227, 1) 0%,
        rgba(65, 214, 130, 1) 0%,
        rgba(201, 251, 232, 1) 0%,
        rgba(194, 241, 214, 1) 50%,
        rgba(139, 139, 129, 1) 97%
    );
}
#five {
    animation-name: post-It-Ruotati-a10deg;
    animation-delay: 200ms;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(31, 81, 227, 1) 0%,
        rgba(65, 214, 130, 1) 0%,
        rgba(250, 251, 201, 1) 0%,
        rgba(240, 241, 194, 1) 50%,
        rgba(139, 139, 129, 1) 97%
    );
}
#six {
    animation-name: post-It-Ruotati-a10deg;
    animation-delay: 250ms;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(31, 81, 227, 1) 0%,
        rgba(65, 214, 130, 1) 0%,
        rgba(251, 201, 234, 1) 0%,
        rgba(241, 194, 230, 1) 50%,
        rgba(139, 139, 129, 1) 97%
    );
}
#seven {
    animation-name: post-It-Ruotati-a10deg;
    animation-delay: 300ms;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(31, 81, 227, 1) 0%,
        rgba(65, 214, 130, 1) 0%,
        rgba(250, 251, 201, 1) 0%,
        rgba(240, 241, 194, 1) 50%,
        rgba(139, 139, 129, 1) 97%
    );
}
#eight {
    animation-name: post-It-Ruotati-a10deg;
    animation-delay: 350ms;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgb(0, 0, 5) 0%,
        rgba(31, 81, 227, 1) 0%,
        rgba(65, 214, 130, 1) 0%,
        rgba(201, 251, 232, 1) 0%,
        rgba(194, 241, 214, 1) 50%,
        rgba(139, 139, 129, 1) 97%
    );
}

.transform1 {
    transform: rotate(10deg);
}

.transform2 {
    transform: rotate(-10deg);
}

@keyframes post-It-Ruotati-a10deg {
    /* basta che imposti come vuoi che si presenti in una situazione intermedia SENZA SPECIFICARE LA POSIZIONE FINALE tanto alla posizione FINALE ( cioè la situazione di partenza )  ci ritorna in automatico  */
    0% {
        translate: -800px 800px;
        rotate: 900deg;
        opacity: 0;
        scale: 5;
    }
    90% {
        opacity: 1;
        scale: 1;
    }
}

.container .wrapper {
    transition: all 300ms;
    opacity: 0;
}

/* .container .post-it p:hover,
h3:hover {
    transition: all 300ms;

} */

.container .wrapper:hover {
    transition: all 300ms;
    opacity: 1;
}
